.page-container.error-found {
    text-align: center;
    margin-top: 10%;
}
.img-setting {
    height: 300px;
}
.title.text-color {
    color: #1976d2;
    margin: 0px;
}
.margin-top{
    margin-top:10px
}